.App {
  text-align: center;
  background-color: rgb(193, 227, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-transform: uppercase;
  color: navy;
  font-size: 3rem;
}
.item {
  width: 50vw;
  display: flex;
  margin: 0.5rem 25vw;
  font-size: 1.8rem;
  border: 2px solid black;
  background-color: cornflowerblue;
  justify-content: center;
  position: relative;
}
.icons {
  position: absolute;
  right: 0;
  margin: 0 1rem;
}
svg {
  margin: 0 0.3rem;
}
button {
  margin: 1rem auto;
  font-size: 1.3rem;
  color: black;
  height: 5vh;
  width: 20vw;
}
input {
  margin: 1rem auto 0;
  height: 5vh;
  width: 20vw;
  text-align: center;
  font-size: 1.3rem;
}